*~
\#*
efidisk
efidisk.img
efitools/NvmeOfCli.efi
env-config.mk
vm-config.mk
uuid*.mk
timberland-ovmf.zip
ovmf/
packages/
keys/
mkdud
nvmet-server/group_vars/nvme_servers
network/cleanup.sh
nvmet-server/dependencies
nvmet-server/server-running
network.conf
qemu.conf
qemu-*.conf
vm/
*.iso
current_config
.vagrant
